VITE_SUPABASE_URL=https://fptyrdjmrzabvimbzupv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwdHlyZGptcnphYnZpbWJ6dXB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4ODIwOTEsImV4cCI6MjA4MDQ1ODA5MX0.0h7f8021wafTfA72E8AUEBN9jOtj1s-Ylf0M3u5vXtU
